pipeline/PL_TSV_2_Parquet.json
{
	"name": "PL_TSV_2_Parquet",
	"properties": {
		"activities": [
			{
				"name": "Park_2_Snowflake",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Tsv_2_Parquet",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:30:00",
					"retry": 1,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"additionalColumns": [
							{
								"name": "job_id",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							{
								"name": "job_load_date",
								"value": {
									"value": "@utcNow()",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "SnowflakeV2Sink",
						"importSettings": {
							"type": "SnowflakeImportCopyCommand"
						}
					},
					"enableStaging": true,
					"stagingSettings": {
						"linkedServiceName": {
							"referenceName": "AzureBlobStorage1",
							"type": "LinkedServiceReference"
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Parquet1",
						"type": "DatasetReference",
						"parameters": {
							"filename": {
								"value": "@variables('myFileName')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "SnowflakeTable1",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Tsv_2_Parquet",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "License Issue Date",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "License Issue Date",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "License Number",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "License Number",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Animal's Name",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Animal's Name",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Species",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Species",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Primary Breed",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Primary Breed",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "Secondary Breed",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "Secondary Breed",
									"type": "String",
									"physicalType": "UTF8"
								}
							},
							{
								"source": {
									"name": "ZIP Code",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "ZIP Code",
									"type": "String",
									"physicalType": "UTF8"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DelimitedText1",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Parquet1",
						"type": "DatasetReference",
						"parameters": {
							"filename": {
								"value": "@variables('myFileName')",
								"type": "Expression"
							}
						}
					}
				]
			}
		],
		"variables": {
			"myFileName": {
				"type": "String",
				"defaultValue": "pet_lic_data.parquet"
			}
		},
		"annotations": []
	}
}